<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971198538208-vtcfv7pgv98a4hqhhobvq5etu281b56a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971198538208-vtcfv7pgv98a4hqhhobvq5etu281b56a</string>
	<key>API_KEY</key>
	<string>AIzaSyDO31QtvxR-EDaht31fnqlSGTQWi_oXg7U</string>
	<key>GCM_SENDER_ID</key>
	<string>971198538208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.protocolomobeco.appClienteProtocoloMobEco</string>
	<key>PROJECT_ID</key>
	<string>protocolo-mob-eco-release</string>
	<key>STORAGE_BUCKET</key>
	<string>protocolo-mob-eco-release.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971198538208:ios:1ed2d3d9e865a805b88b85</string>
</dict>
</plist>